@font-face {
  font-family: "btp";
  src: url("btp.woff.ttf") format('woff');
}

body {
  margin: calc(50vh - 362px) 24px 24px 24px;
}

img {
  display: block;
  margin: calc(50vh - 362px) auto 24px auto;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: "btp", "Inter", helvetica, sans-serif;
  line-height: 1em;
  font-size: 3.1em;
  color: #121214;
}

h1,
h2,
h3 {
  position: fixed;
  margin: 0;
}

h1 {
  top: 24px;
  left: 24px;
}

h2 {
  top: 24px;
  left: 240px;
}

h3 {
  top: 24px;
  right: 24px;
}

p {
  font-family: "btp", "Inter", helvetica, sans-serif;
  font-size: 1.2em;
  color: #121214;
  display: block;
}

p {
  margin: 0 auto 24px auto;
  text-align: center;
}

footer {
  margin: 50vh 0 48px 0;
}

footer p {
  font-size: 1.2em;
  text-align: left;
  display: block;
  margin-left: 216px;
  max-width: 72vh;
}

footer p:last-child {
  margin-left: 0px !important;}

a {
  text-decoration: underline;
  color: #121214;
}

a:hover {
  color: #929294;
}

.mobileHeader {
  display: none;
}

@media screen and (max-width: 1080px) {
  body {
    margin: 50vh 24px 24px 24px;
  }

  img {
    width: 100%;
    margin: 10vh auto 24px auto;
  }

  #imageFirst {
    margin-top: 24px;
  }

  h1,
  h3 {
    font-size: 3.1em;
  }

  h2 {
    display: none;
  }

  h1,
  h2,
  h3 {
    position: fixed;
    margin: 0;
  }

  p,
  footer {
    font-size: 1.2em;
  }

  footer p {
    margin-left: 0px !important;
  }

  .mobileHeader {
    font-size: 3.1em;
    display: block;
    position: relative;
    text-align: left;
  }
}
